*.csv
!test/data/*


/Debug/
*.o
*.d
CMakeLists.txt.user
gctb
brr
*.ppbed
*.sqnorm
*~
*.out
*.err
*.optrpt
/MR_ADV/

# Flow graph tracing output
*.graphml
*.traceml

# Preprocessed data file types
*.ppbed
*.ppbedindex
*.sparsebed
*.sparsebedindex
slurm-*.out
bayesOutput_??.*
/test/
src/mpi_gibbs*
tbb
